boto3==1.12.47
botocore==1.15.47
Flask==1.1.2
gunicorn==20.0.4
joblib==0.14.1
matplotlib==3.2.1
numpy==1.18.3
pandas==1.0.3
pathlib==1.0.1
pathspec==0.8.0
Pillow==7.1.2
requests==2.23.0
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.1
sentencepiece==0.1.86
tokenizers==0.5.2
torch==1.5.0
tqdm==4.45.0
transformers==2.8.0
